body, html {
    margin: 0;
    padding: 0;


}

footer {
    background-color: #5E5E5E;
    color: white;
    padding: 30px 100px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}


.footer1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
h3 {
    font-weight:normal;
}
h4 {
    font-weight:normal;
}


.footer1 div {
    display: flex;
    align-items: center;
}


i {
    font-size: 24px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.footer-button {
    display: flex;
    align-items: center;
    margin: 5px;
}

.footer-button:hover {
    opacity: 0.7;
}

.footer2 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 50px;

}
