<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
    <link rel="stylesheet" href="../static/STYLE/internship.css">
    <link rel="stylesheet" href="../static/STYLE/nav_bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/STYLE/footer.css">

    <title>Experience</title>
</head>
<body>
    <header>
        <div class="nav_bar">
            <a href="..index.html" class="nav-button">About Me</a>
            <a id="active"  href="Internship.html" class="nav-button">Experience</a>
            <a href="Project.html" class="nav-button">Projects</a>
            <a href="Education.html" class="nav-button">Education</a>
            <a href="Contact.html" class="nav-button">Contact</a>
            
        </div>
    </header>
    <main>
        <h1 class="section-heading">Internship</h1>
        <div class="internship-container">
            <div class="intern">
                <div class="intern_title">
                    <h1 class="intern_heading">Computer Vision Software Developer in FILAMENT AI</h1>
                    <h1 class="duration">April 2023 - Present</h1>
                </div>
                <ul class="intern_description">
                    <li>Developed and implemented a back-end system using machine learning and computer vision techniques.</li>
                    <li>Reduced false alarms and improved system accuracy by training a fire and smoke detection model.</li>
                    <li>Created and implemented four use cases that enhanced operational efficiency and ensured client satisfaction.</li>
                    <li>Collaborated with Dashboard developer to integrate the software functionalities with user-facing applications.</li>
                    <li>Currently focused on developing an Automatic Number Plate Recognition System using deep learning algorithms.</li>
                </ul>
                <div class="intern_links">
                    <a href="https://www.linkedin.com/company/filamentai-in/" id="linkedin" class="intern-button">
                        <i class="fab fa-linkedin"></i>
                        <h4>LinkedIn</h4>
                    </a>
                    <a href="https://www.filamentai.in/" id="website" class="intern-button">
                        <i class="fas fa-globe"></i>
                        <h4>Website</h4>
                    </a>
                </div>
            </div>
        </div>
    </main>
    
    

    <footer>
        <div class="footer1">
            <div>
                <i class="fas fa-phone"></i>
                <h3>+91 9967900689</h3>
            </div>
          
            <div>
                <i class="fas fa-envelope"></i>
                <a href="mailto:abhishekshivtiwari@gmail.com"><h3>abhishekshivtiwari@gmail.com</h3></a>
            </div>
        
            <div>
                <i class="fas fa-home"></i>
                <h3>Mumbai, India</h3>
            </div>          
        </div>
  
        <div class="footer2">
            <a href="https://github.com/Abhi-shekes" id="github" class="footer-button">
                <i class="fab fa-github-square"></i>
                <h4>GitHub</h4>
            </a>
  
            <a href="https://www.linkedin.com/in/abhishek-tiwari-6172a6223/" id="linkedin" class="footer-button">
                <i class="fab fa-linkedin"></i>
                <h4>LinkedIn</h4>
            </a>
  
            <a href="../static/ASSET/RESUME/Resume_With_Intern.pdf" id="resume" class="footer-button">
                <i class="fas fa-file"></i>
                <h4>Resume</h4>
            </a>  
        </div>
    
        <p>&copy; 2023 Abhishek Tiwari. All rights reserved.</p>
    </footer>

</body>
</html>
