<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200"> 
    <link rel="stylesheet" href="../static/STYLE/projectstyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/STYLE/nav_bar.css">
    <link rel="stylesheet" href="../static/STYLE/footer.css">
    <title>Projects</title>
</head>
<body>
    <header>
        <div class="nav_bar">
            <a href="../index.html" class="nav-button">About Me</a>
            <a  href="Internship.html" class="nav-button">Experience</a>
            <a  id="active" href="Project.html" class="nav-button">Projects</a>
            <a href="Education.html" class="nav-button">Education</a>
            <a href="Contact.html" class="nav-button">Contact</a>
        </div>
    </header>

    <main class="main">
        <h1 class="heading">Projects</h1>

        <div class="project">
            <div class="project_image">
                <img class="slider-item" src="../static/ASSET/PROJECT/No Helmet & No Vest_24-06-2023_15_25_33.jpg"
                    alt="PPE, Helmet & Safety Shoe Detection">
            </div>
            <div class="detail">
                <h1 class="project_heading">PPE, Helmet & Safety Shoe Detection</h1>
                <ul class="project_description">
                    <li>Developed a PPE, Helmet & Safety Shoe Detection system using Python and OpenCV.</li>
                    <li>The system can accurately detect and recognize PPE, helmets, and safety shoes in a variety of
                        conditions.</li>
                    <li>The system is able to send alerts if someone is not wearing PPE, a helmet, or safety shoes.</li>
                    <li>The system is able to store images of people wearing PPE, helmets, and safety shoes in a
                        database.</li>
                    <li>The system can be used to improve workplace safety by ensuring that employees are wearing the
                        proper PPE.</li>
                </ul>
            </div>
        </div>

        <div class="project">
            <div class="project_image">
                <img class="slider-item" src="../static/ASSET/PROJECT/ANPR.jpg"
                    alt="Automatic Number Plate Detection">
            </div>
            <div class="detail">
                <h1 class="project_heading">Automatic Number Plate Detection and OCR</h1>
                <ul class="project_description">
                    <li>Developed an automated number plate detection system using Python and OpenCV.</li>
                    <li>Used the Tesseract OCR library to extract the text from the license plates.</li>
                    <li>Stored the data in a MongoDB database.</li>
                    <li>Faced problems in extracting text due to blurry or low-quality images and different fonts and
                        styles.</li>
                </ul>
            
            </div>
        </div>

        <div class="project">
            <div class="project_image">
                <!-- <img class="slider-item" src="{{ url_for('static', filename='ASSET/PROJECT/Mobile_travelling1.jpg') }}"
                    alt="Intelligent Mobile Traveling Guide Image 1"> -->
                <img class="slider-item" id="mobile_travel" src="../static/ASSET/PROJECT/Mobile_travelling.jpg"
                    alt="Intelligent Mobile Traveling Guide Image 2">
            </div>
            <div class="detail">
                <h1 class="project_heading">Intelligent Mobile Traveling Guide</h1>
                <ul>
                    <li>Technology:</li>
                    <ul>
                        <li>Front-end: React Native</li>
                        <li>Back-end: Python</li>
                        <li>Database: MongoDB</li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="project">
            <div class="project_image">
                <img class="slider-item" id="UI_design" src="../static/ASSET/PROJECT/home_UI.jpg"
                    alt="UI Design of Portfolio Website - Home">
                <!-- <img class="slider-item" src="{{ url_for('static', filename='ASSET/PROJECT/intern_ui.jpg') }}"
                    alt="UI Design of Portfolio Website - Intern">
                <img class="slider-item" src="{{ url_for('static', filename='ASSET/PROJECT/project_ui.jpg') }}"
                    alt="UI Design of Portfolio Website - Project">
                <img class="slider-item" src="{{ url_for('static', filename='ASSET/PROJECT/education_ui.jpg') }}"
                    alt="UI Design of Portfolio Website - Education">
                <img class="slider-item" src="{{ url_for('static', filename='ASSET/PROJECT/certificate_ui.jpg') }}"
                    alt="UI Design of Portfolio Website - Certificate">
                <img class="slider-item" src="{{ url_for('static', filename='ASSET/PROJECT/contact_ui.jpg') }}"
                    alt="UI Design of Portfolio Website - Contact"> -->
            </div>
            <div class="detail">
                <h1 class="project_heading">UI Design of this Portfolio Website</h1>
                <ul class="project_description">
                    <li>Created a UI design of this portfolio before actually starting to develop it.</li>
                    <li>Used Figma for designing the whole website.</li>
                </ul>
            </div>
        </div>

        <div class="project">
            <div class="project_image">
                <img class="slider-item" id="ATM" src="../static/ASSET/PROJECT/ATM_Project.jpg"
                    alt="ATM Application using JAVA">
            </div>
            <div class="detail">
                <h1 class="project_heading">ATM Application using JAVA</h1>
                <ul class="project_description">
                    <li>Developed an ATM machine application using Java for a college project.</li>
                    <li>The application can send money, deposit money, withdraw money, and view account balance and
                        mini-statement.</li>
                    <li>The application was developed using object-oriented programming principles.</li>
                </ul>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer1">
            <div>
                <i class="fas fa-phone"></i>
                <h3>+91 9967900689</h3>
            </div>
          
            <div>
                <i class="fas fa-envelope"></i>
                <a href="mailto:abhishekshivtiwari@gmail.com"><h3>abhishekshivtiwari@gmail.com</h3></a>
            </div>
        
            <div>
                <i class="fas fa-home"></i>
                <h3>Mumbai, India</h3>
            </div>          
        </div>
  
        <div class="footer2">
            <a href="https://github.com/Abhi-shekes" id="github" class="footer-button">
                <i class="fab fa-github-square"></i>
                <h4>GitHub</h4>
            </a>
  
            <a href="https://www.linkedin.com/in/abhishek-tiwari-6172a6223/" id="linkedin" class="footer-button">
                <i class="fab fa-linkedin"></i>
                <h4>LinkedIn</h4>
            </a>
  
            <a href="../static/ASSET/RESUME/Resume_With_Intern.pdf" id="resume" class="footer-button">
                <i class="fas fa-file"></i>
                <h4>Resume</h4>
            </a>  
        </div>
    
        <p>&copy; 2023 Abhishek Tiwari. All rights reserved.</p>
    </footer>

</body>
</html>
